html {
  font-size: 16px;
  font-family: "Barlow", "Nunito", "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  height: 100vh;
}

header {
  position: relative;
  width: 100%;
  z-index: 999;
}

.container {
  height: 100vh;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

.gradient {
  position: relative;
  height: 300vh;
  background-image: linear-gradient(180deg, #131E2F 16.24%, #E60033 40.76%, #FF9900 61.23%, #FFE0BC 80.53%, #FFF3F1 92.28%, #FFFFFF 100%);
  display: flex;
  flex-direction: column;
}

.navbar {
  display: grid;
  align-items: center;
  height: 64px;
  grid-template-columns: 1fr 80px;
}

.logo {
  color: #FFFFFF;
  font-size: x-large;
  font-weight: 200;
  font-style: italic;
}

.hamburger {
  width: 40px;
  height: 40px;
  margin: auto;
  display: none;
}

.scroll-indicator-wrapper {
  z-index: 10;
  position: fixed;
  height: 100vh;
  right: 0;
}

.scroll-indicator {
  position: relative;
  top: 35%;
  list-style-type: none;
}

.scroll-dot {
  display: block;
  background-color: purple;
  border-radius: 50%;
  margin: 2rem 1rem;
  height: 10px;
  width: 10px;
}

.one-screen {
  height: 100vh;
  padding: 0 1rem;
  scroll-snap-align: start;
}

.large-text {
  font-size: 2.5rem;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  padding-left: 1.25rem;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 100%;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}